@import "nib"
@import "normalize.styl"
@import "icons.styl"
@import "basic.styl"

html,body
	position: relative;
	color #3b3b3b
	//width: 100%;
	//height: 100%;
	//overflow: hidden;
	//overflow-y: auto;

body 
	&.nav-is-open
		.nav-container 
			left 0
			right 0
			width 100%
			visibility visible
			opacity 1
			z-index 100
		.nav-menu 
			li 
				transform: translateX(0);
				opacity 1
		
		.nav-btn-menu
			.fa-bars
				&:before
					content '\f00d'
	&.home 
		//background-color #444
		.header-logo
			display none


.nav
	&-container 
		position fixed
		background-color rgba(verde,.75)
		left 0
		top 0
		right 0
		bottom 0
		width 100%
		z-index 100
		visibility hidden
		opacity 0
		overflow hidden
		transition all .85s cubic-bezier(.4,0,.2,1)
		
			
	&-menu
		position relative 
		background-color transparent
		width 100%
		left 0
		color white
		text-align center
		//padding-left 40px
		padding-top 80px
		padding-bottom 80px
		li
		&-item
			display block
			line-height 3rem
			//transform: translateX(-100%)
			transition: transform .45s cubic-bezier(.4,0,.2,1),opacity .3s cubic-bezier(.4,0,.2,1);
			opacity 0
			/*&:nth-child(1)
				transition-delay .19s
			&:nth-child(2)
				transition-delay .23s
			&:nth-child(3)
				transition-delay .27s
			&:nth-child(4)
				transition-delay .31s
			&:nth-child(5)
				transition-delay .35s
			&:nth-child(6)
				transition-delay .39s*/
			
		a
		&-link
			display block
			color white
			font-weight 700
			font-size 1.6rem
			&:hover
				color verde
				margin-left 1rem
			
	&-btn-menu
		background-color transparent
		top 15px
		left 15px
		z-index 902
		border none
		color white
		font-size 2rem//2.8rem
		outline none
		transition all .3s ease
		.fa-bars
			&:before
				transition all .3s ease


.header
	position absolute
	left 0
	right 0
	width 100%
	background-color white
	top 0
	z-index 900
	height auto//65px
	transition all .5s ease
	text-align: center
	
	&-logo
		z-index: 300;
		position absolute
		color white
		font-weight 500
		font-size 2rem
		text-align center
		transition all .3s ease
		padding 1rem 15px //2.65rem 0
		//max-width 33.33%
		//background-color #4a4a4a

	&-right
		text-align: center
		
	&-btn-menu
		//background #4a4a4a
		text-align center
		padding 1rem 1rem
	&-contact
		width: 100%
		.btn
		a
			padding .5rem 1rem
			margin-bottom 0
			display: inline-block
			vertical-align: middle
			//background verde
			&:hover
				color #000
			i 
				//padding-right .5rem
				font-size 1.5rem
			span
				opacity 0
				display none
		.icon-ondabrava
			padding: .5rem
			width: 85px
		
			
		

@media screen and (min-width: 768px)
	.header
		text-align: left
		height: 65px
		&-logo
			padding 1rem 15px //2.65rem 0
			max-width 100px
			position absolute
			transform: translateX(0);
		&-right
			position absolute
			right 0
			top 0
		&-contact
			width: auto
			padding .5rem 1.5rem

				
		
	.nav
		&-btn-menu
			top 15px
			left 60px
		&-menu
			padding-top: 6.5rem;
			padding-bottom: 2.5rem;
			//padding-left: 7.5rem;
			li 
				line-height 5rem
			a
				font-size 3.75rem
	
		
@media screen and (min-width: 1000px)
	.nav
		&-aside
			left auto
			right 0
			bottom 0
			top 0
			padding 0rem 4rem
			.social
				margin-top 6rem
				li 
					display block
					
					a 
						color white
						
						font-size 1.5rem
						padding 1.5rem 1rem
			.copy
				bottom 2rem 
				left auto
	


.banner
	background-image: url('./img/hexellence.png');
	background-size auto, 
	background-repeat repeat, 
	background-position center center
	height 100vh
	&-logo 
		background-color white
		display inline-block
		border-radius 50%
		max-width 370px
		max-height: 370px
		height: 370px
		margin-bottom 1rem
	&-container
		height 100vh
		display flex
		justify-content center
		align-items center
	&-info
		text-align center
		max-width 750px
		color white
	h1 
		margin-bottom 2rem
		color white
		font-size 3rem
	p 
		font-size 1.5rem

.tunein
	color rgba(0,0,0,.8)
	font-size 1em
	//background rgba(0,0,0,.8)
	padding .5em
	//text-align center
	display inline-block

	img
		display inline-block
		vertical-align middle
.player
	position absolute
	left 50%
	top 58%
	max-width: 400px;
	transform: translate(-50%, -50%)
	&-mobile
		//display none
		text-align center

	.text-play
		color white
		font-size 1rem
		//background-color rgba(0,0,0,.8)
		padding .5rem
		display inline-block
		width: 100%;
		color: black;
		text-align: center;
		margin-top: 20px;
	
	li 
		border-bottom 1px solid #e3e3e3
		&:last-child
			border none
	a 
		display block
		padding 1rem
		color verde
		text-align center
		&:hover
			color celeste
			background-color #eeeeee

		i 
			display block
			font-size 1.2rem
		span
			display inline-block
			color #3a2b14
.current-song
	position: fixed
	bottom: 0
	left 0
	right: 0
	background-color: white
	text-align: center
	line-height: 20px;
	font-size: 1.2rem;

	&-container
		padding: 1rem 0

@media screen and (min-width: 768px)
	.player
		.text-play
			display none
	.tunein
		font-size: 1.5rem

	.current-song
		font-size: 1.5rem

.contact-popup
	h2 
		margin-bottom: 1rem

.copyright
	color: musgo;
	position: absolute;
	right: 1rem;
	font-size: 2.5rem;
	z-index: 2;
	bottom: 8px;
	a
		color: musgo
		
#rtmp-player {
    position: relative;
    left: 85px;
    bottom: 5px;
}
#sm-button-container {
    width: 36px;
    height: 36px;
    border: 1px solid #0866BA;
    border-radius: 26px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    background: #e6e6e6;
    float: left;
    cursor: pointer;
    margin: auto;
    transition: all 0.15s;
}

#audio-status-container {
    width: 35px;
    position: relative;
    top: 8px;
    left: 14px;
    float: left;
}
#sm-audio-icon {
    height: 25px !important;
    width: auto;
    cursor: pointer;
    padding: 3px !important;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: all 0.15s;
}
	
		


